*.pyc
*.pkl
compile.sh
multyvac_setup.py
tiletest.py
/econlearn/*.c
/econlearn/*.so
/econlearn/*.html
/econlearn/*.swp
/econlearn/*.swo
/econlearn/*.sh
/econlearn/build
/econlearn/*.zip
/econlearn/build
/regrivermod/*.zip
/regrivermod/*.c
/regrivermod/*.so
/regrivermod/*.html
/regrivermod/*.swp
/regrivermod/*.swo
/regrivermod/*.sh
/regrivermod/*.zip
/regrivermod/build
/results/chapter5/*
/results/chapter3/*
/results/*.pyc
